@font-face {
  font-family: primaryFont;
  src: url("../public/fonts/LovedbytheKing-Regular.ttf");
}

body {
  margin: 0;
  background-image: url("../public/images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: primaryFont;
}

.App {
  text-align: center;
}

p {
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: center;
  padding: 10px 100px;
}

.rules-page-parent,
.table-page-parent {
  overflow: hidden;
}

.rules-page,
.table-page {
  width: 105%;
  height: 80vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;
  overflow: auto;
}

.table-page {
  height: 70vh;
  margin-top: calc(200px - 15vh);
  font-size: 20px;
}

.rules-page {
  letter-spacing: 0.2rem;
  font-size: 22px;
  font-weight: bold;
}

.rules-page div,
.table-page .table {
  width: 70%;
  position: fixed;
  left: 50%;
  transform: translatex(-50%);
}

.table-page .table {
  width: 60%;
}

.rules-page h2,
.rules-page h3,
.rules-page h4 {
  color: #dd4f13;
}

button {
  font-family: primaryFont;
}

.play-button {
  width: 300px;
  border: none;
  background: transparent;
  font-size: 24px;
  background-image: url("../public/images/button-frame.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

nav button,
.friends-button {
  margin: 0 30px;
  border: none;
  background: none;
  font-size: 28px;
  letter-spacing: 0.2rem;
}

.friends-button {
  font-size: 24px;
  background-image: url("../public/images/button-frame.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.register-page {
  margin-top: 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register-page .friends-button {
  margin-right: 0;
}

.register-page p {
  color: #dd4f13;
}

.register-input {
  width: 120px;
  height: 40px;
  padding-left: 10px;
  border: none;
  outline: none;
  background: transparent;
  background-image: url("../public/images/button-frame.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: primaryFont;
  font-size: 24px;
}

.selected {
  color: #dd4f13;
  font-weight: bold;
}

div[class^="background"] {
  width: 250px;
  height: 250px;
  position: fixed;
  background-size: contain;
  background-repeat: no-repeat;
}
div[class^="background-top"] {
  top: 0;
  right: 0;
  background-position: top;
}
div[class^="background-bottom"] {
  bottom: 0;
  left: 0;
  background-position: bottom;
}
div[class$="top-1"] {
  background-image: url("../public/images/background-decoration-paper.png");
}
div[class$="top-2"] {
  background-image: url("../public/images/background-decoration-scissors.png");
}
div[class$="bottom-1"] {
  background-image: url("../public/images/background-decoration-future.png");
}
div[class$="bottom-2"] {
  background-image: url("../public/images/background-decoration-rock.png");
}

.logo {
  width: 350px;
  height: 350px;
  position: fixed;
  top: calc(50% - 25px);
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../public/images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.please-log-in {
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  font-weight: bold;
  color: #dd4f13;
}

.game-page {
  padding-top: 35px;
  font-size: 24px;
}
.game-message-board {
  width: 250px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../public/images/button-frame.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.pick-container,
.score-container {
  display: flex;
  flex-direction: row;
}

.score-container {
  margin: 0;
  padding: 0 35%;
  justify-content: space-around;
}

.round {
  font-size: 28px;
  color: #dd4f13;
  margin: 0;
}

.pick-container {
  justify-content: center;
  font-size: 20px;
  height: 70px;
}

div[class^="pick-frame"],
div[class^="future-frame"] {
  margin: 5px;
  padding: 5px;
  position: relative;
}

div[class^="pick-frame"] {
  width: 60px;
  height: 60px;
}

div[class^="future-frame"] {
  width: 40px;
  height: 40px;
}

.pick-frame-selected,
.future-frame-selected {
  background-image: url("../public/images/circle.png");
  background-size: 100% 100%;
  /*   border: 4px solid #dd4f13;
  border-radius: 50%; */
}

div[class^="pick-frame"] input,
div[class^="future-frame"] input {
  border: none;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
}

div[class^="pick-frame"] input {
  width: 50px;
  height: 50px;
}
div[class^="future-frame"] input {
  width: 35px;
  height: 35px;
}

.rock {
  background-image: url("../public/images/rock.png");
}

.paper {
  background-image: url("../public/images/paper.png");
}

.scissors {
  background-image: url("../public/images/scissors.png");
}

.submit-button {
  width: 250px;
  border: none;
  background: transparent;
  font-size: 24px;
  background-image: url("../public/images/button-frame.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

div[class^="decision"] {
  width: 95%;
  height: 95%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.decision-winner-1 {
  background-image: url("../public/images/winner-1.jpeg");
}

.decision-winner-2 {
  background-image: url("../public/images/winner-2.jpeg");
}
.decision-loser-1 {
  background-image: url("../public/images/loser-1.jpeg");
}
.decision-loser-2 {
  background-image: url("../public/images/loser-2.jpg");
}

.hamburger-menu {
  display: none;
}

@media only screen and (max-width: 1050px) {
  div[class^="background"] {
    width: 200px;
    height: 200px;
  }
  nav button,
  .friends-button {
    margin: 0 15px;
  }
}

@media only screen and (max-width: 850px) {
  body {
    background-image: url("../public/images/background-mobile.png");
    padding-top: 30px;
  }

  .logo {
    max-width: 90vw;
    max-height: 90vw;
  }
  div[class^="background"] {
    max-width: 30vw;
    max-height: 30vw;
  }
  .hamburger-menu {
    width: 40px;
    height: 30px;
    display: block;
    position: absolute;
    top: 15px;
    left: 15px;
    background-image: url("../public/images/hamburger-menu.png");
    background-size: 100% 100%;
  }
  .navbar-hidden {
    display: none;
  }
  .navbar {
    width: auto;
    height: auto;
    position: fixed;
    top: 15px;
    left: 70px;
    z-index: 10;
    padding: 0;
    background-image: url("../public/images/popupwindow.png");
    background-size: 100% 100%;
  }
  .navbar div {
    padding: 20px 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .navbar button {
    text-align: left;
  }
  .rules-page {
    font-size: 18px;
    height: 70vh;
  }
  .table-page {
    height: 60vh;
    margin-top: calc(130px - 13vh);
  }

  .table-page .table {
    width: 70%;
    font-size: 3.3vw;
  }
  .score-container {
    padding: 0 20px;
  }
  .game-message-board {
    width: 50vw;
  }
}

@media only screen and (orientation: landscape) and (max-width: 850px) {
  div[class^="background"] {
    max-width: 15vw;
    max-height: 15vw;
  }
}
